@font-face {
    font-family: "Iceland";
    src: url("../Fonts/Iceland-Regular.ttf"); format("truetype")
}

body,
header,
.product,
.bottom,
h1,
h2,
h3,
h4,
p,
.buy-button {
    font-family: "Iceland";
}

header {
    background-color: #618F45;
    color: #000000;
    margin-bottom: 5em;
    }
.main-section h2,
.more-games h2{
        background-color: #F3E036;
        color: #FD0E0E;
        text-align: center;
}
    body,
    .product-description {
        background-color: #000000;
        color: #fff;
        
    }
    .product-description h1,
    h2 {
        background-color: #F3E036;
        color: #FD0E0E;
        width: 70px;
    }
    .product-description img {
        margin: 40px 20px 10px 80px;
    }
    h3,
    h4 {
        color: #fff;
        margin-left: 5px;
    }
    .bottom {
        background-color: #618F45;
    }
    .checkout-page h1, h2 {
        background-color: #62FF02;
        background-color: hsl(120, 100%, 7%);
        color: #fff;
    }
    .checkout-page h1 {
        padding: 10px;
        width: 25px;
        text-align: center;
        border-radius: 60%;
    }
    .checkout-page h3{
        background-color: #F3E036;
        color: #FD0E0E;
        width: 70px;
        text-align: center;
    }

    .details {
        background-color: #62FF02;
        background-color: hsl(120, 100%, 7%);
        width: 400px;
        color: #fff;
        padding: 2%;
        margin-bottom: 50px;
    }
    .more-games h2{
        background-color: #F3E036;
        color: #FD0E0E;
    }
    .gameplay,
    h2 {
        background-color: #000000;
    }
.gameplay img, h3 {
    display: inline-block;
}
    a {
        text-decoration: none;
        margin: 4%;
    }
.bottom nav {
display: flex;
flex-direction: column;
padding: 2rem;


}
    footer {
        background-color: #618F45;
        color: #000000;
        text-align: center;
        margin-top: 0.50px;
        height: 50px;
    }


    /*buttons*/


    .buy-button {
        align-items: center;
        appearance: none;
        background-color: #F3E036;
        border-radius: 15px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#F79E1B 0 -3px 0 inset;
        box-sizing: border-box;
        color: #FD0E0E;
        cursor: pointer;
        display: inline-flex;
        font-family: "Iceberg";
        height: 34px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
       }
       
       .buy-button:focus {
        box-shadow: #F79E1B 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #F79E1B 0 -3px 0 inset;
       }
       
       .buy-button:hover {
        box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #F79E1B 0 -3px 0 inset;
        transform: translateY(-2px);
       }
       
       .buy-button:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
       }

     
       

       .search {
        --input-line: #cccccc;
        --input-text-color: #808080;
        --input-text-hover-color: transparent;
        --input-border-color: #808080;
        --input-border-hover-color: #999999;
        --input-bg-color: #333333;
        --search-max-width: 250px;
        --search-min-width: 150px;
        --border-radius: 5px;
        --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
      }
      
      .search-box {
        max-width: var(--search-max-width);
        min-width: var(--search-min-width);
        height: 35px;
        border: 1px solid var(--input-border-color);
        border-radius: var(--border-radius);
        padding: 5px 15px;
        background: var(--input-bg-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transition: var(--transition-cubic-bezier);
      }
      
      .search-box:hover {
        border-color: var(--input-border-hover-color);
      }
      
      /*Section input*/
      .search-field {
        position: relative;
        width: 100%;
        height: 100%;
        left: -5px;
        border: 0;
      }
      
      .input {
        width: calc(100% - 29px);
        height: 100%;
        border: 0;
        border-color: transparent;
        font-size: 1rem;
        padding-right: 0px;
        color: var(--input-line);
        background: var(--input-bg-color);
        border-right: 2px solid var(--input-border-color);
        outline: none;
      }
      
      .input::-webkit-input-placeholder {
        color: var(--input-text-color);
      }
      
      .input::-moz-input-placeholder {
        color: var(--input-text-color);
      }
      
      .input::-ms-input-placeholder {
        color: var(--input-text-color);
      }
      
      .input:focus::-webkit-input-placeholder {
        color: var(--input-text-hover-color);
      }
      
      .input:focus::-moz-input-placeholder {
        color: var(--input-text-hover-color);
      }
      
      .input:focus::-ms-input-placeholder {
        color: var(--input-text-hover-color);
      }
      
      /*Search button*/
      .search-box-icon {
        width: 52px;
        height: 35px;
        position: absolute;
        top: -6px;
        right: -21px;
        background: transparent;
        border-bottom-right-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        transition: var(--transition-cubic-bezier);
      }
      
      .search-box-icon:hover {
        background: var(--input-border-color);
      }
      
      .btn-icon-content {
        width: 52px;
        height: 35px;
        top: -6px;
        right: -21px;
        background: transparent;
        border: none;
        cursor: pointer;
        border-bottom-right-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        transition: var(--transition-cubic-bezier);
        opacity: .4;
      }
      
      .btn-icon-content:hover {
        opacity: .8;
      }
      
      .search-icon {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 7px;
        right: 15px;
      }

/*Images*/


      .logo__image {
        width: 350px;
      }

      .hot_summer_deals__image {
        max-width: 600px;
        border-radius: 5%;
        width: 600px;
        height: 400px;
        margin-left: 5em;
      }

      .black_game__image,
      .warpath_game__image,
      .football_game__image,
      .pingpong_game__image,
      .rtr_game__image,
      .racing_game__image,
      .boxer_game__image {
        width: 250px;
      }
.gameplay img {
    width: 350px;
}
